{%- assign animation_row = 1 -%}

<div id="CollectionSidebar" data-style="{{ filter_style }}">
    <div class="collection-sidebar small--hide">
      <div class="boost-pfs-filter-tree boost-pfs-filter-tree-v" data-is-desktop></div>
    </div> 
</div>