<div class="octane-ai-quiz " data-quiz-id="Rdpvy8UKP9eNDUdn" data-embed-type="fullpage" data-mobile-height="match_browser" data-desktop-height="match_browser"></div><script src="https://app.octaneai.com/wt14i0udw96npfds/quiz.js" async defer></script>
{% schema %}
  {
    "name":"Product Finder Quiz",
    "settings":[],
    "presets":[
      {
        "name": "Product Finder Quiz"
      }
    ]
  }
{% endschema %}